trigger:
- master

resources:
- repo: self 

variables:
  ImageName: 'shruti1402/my-flask-app-new175'
#variables:
#  tag: '$(Build.BuildId)'

pr:
- "*"


stages:

- stage: Deploy
  displayName: Deploy to EC2
  jobs:
  - job: Deploy
    displayName: Deploy to EC2
    steps:
    - script: 
#        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
#        chmod 600 ~/.ssh/id_rsa
        ssh -o "StrictHostKeyChecking no" -i $(SSH_PRIVATE_KEY) ubuntu@$EC2_PUBLIC_IP "docker login; docker pull $(ImageName); docker run -d -p 8080:8000 $(ImageName)"
      displayName: 'SSH into EC2 and Pull Docker Image'
